/docker-compose.override.yml
/.docker-compose.resolved.yml
/.docker-compose.*.resolved.yml
/.docker-compose.generated.yml
/.docker-compose.*.generated.yml
/.docker/.ca-certificates
/.docker/*/.ca-certificates
/.docker-compose.env
/.docker/fixuid.tar.gz
/.docker/*/fixuid.tar.gz
/.init/
/.bash_enter.env
/.traefik/*.ssl.toml

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> gfi-centre-ouest/docker-devbox-ddb ###
.bin
.certs
.docker/web/nginx.conf
.docker/php/msmtprc
.docker/*/Dockerfile
.traefik
docker-compose.yml
webpack.config.js
###< gfi-centre-ouest/docker-devbox-ddb ###
